
.company_info {
	height: 100%;
	background-color:#fff;
}

.company_info img {
	max-height:50px;
}

.company_info span {
	color: #d85900;
}

.top-header {
	position: relative;
	width:100%;
}
.top-first {
	background:#a7cece url("/images/first/bg-1.png");
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
	z-index: 1;
	width:100%;
	height:300px;
}
.top-second {
	background: #a7cece url("/images/second/bg-1.png");
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.second-content {
	word-wrap: break-word;
	color:#fff;
	padding:2px;
	margin-top: 100px;
}

.second-content h5{
	font-weight: bold;
}

.second-content i p {
	font-size: 11px;
}
.second-img {
	width: 100%;
	margin-top: 100px;
}
/* form */
.top-content {
	z-index: 2;
}

.guarantee {
	background-color:#cad6e0;
	width: 100%;
	height: 100%;
	word-wrap: break-word;
}

.guarantee-body {
	padding:10px;
}
.guarantee-content {
	width: 100%;
	color: #3778a4;
}
.guarantee-box-header {
	border-bottom: 2px dotted;
}
.guarantee-box {
	border: 1px solid;
}

.broken-line {
	border-bottom: 2px #d85900 dotted;
}

.testimonial {
	background:#f4f4f4;
}

footer {
	height:50px;
	background-color: #e28641;
}

.carousel-inner {
	margin :50px 0px;
}

.img_desc {
	background-color: #f4f4f4;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	display:none !important; 
}

.arrow-icon {
	padding:70px 0;
} 

.arrow-icon img:hover{
	cursor: pointer;
}

.right {
	text-align: right !important;
}

.right span img {
	width: 25px;
}

.right span b {
	font-size: 1.5em;
}

.right span p {
	color: #629bc5;
	font-size: 12px;
	margin-top: -10px;
}